{{- $cssUrl := printf "/css/%s" (index .Site.Data.assetHashes "style.css") | absURL }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    <link rel="shortcut icon" href="{{ "/favicon.ico" | absURL }}">
    <link rel="stylesheet" href="{{ $cssUrl }}">
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <div class="column is-half">
              <img class="logo" src="{{ "/img/sevendbs.jpg" | absURL }}" width="400">
            </div>
            <div class="column is-half">
              <h1 class="title is-size-1">
                Seven Databases
              </h1>
              <h3 class="title is-size-3">
                in
              </h3>
              <h1 class="title is-size-1 is-spaced">
                Seven Weeks
              </h1>
              <hr />
              <h3 class="subtitle is-size-3 is-size-4-mobile db-subtitle">
                A Guide to Modern Databases and the NoSQL Movement
              </h3>
              <div class="buttons is-centered">
                <a class="button is-rounded is-large is-warning" href="https://www.amazon.com/Seven-Databases-Weeks-Modern-Movement/dp/1680502530">Amazon</a>
                <a class="button is-rounded is-large is-info" href="https://pragprog.com/book/pwrdata/seven-databases-in-seven-weeks-second-edition">PragProg</a>
                <a class="button is-rounded is-large is-danger" href="http://www.powells.com/book/-9781680502534">Powell's</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container  has-text-centered">
        <h2 class="title is-size-2">
          Testimonials
        </h2>
        <div class="columns">
          <div class="column is-one-third">
          </div>
          <div class="column is-one-third">
            
          </div>
          <div class="column is-one-third">
          
          </div>
        </div>
      </div>
    </section>


    {{ block "main" . }}
    {{ end }}
  </body>
</html>
