    <!--
    Header start
    ==================== -->
    {{- with .Site.Params.header }}
    <section class="hero-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
          {{- with .image }}
          <img class="book-img" src="{{ relURL .path }}" alt="{{ .alt }}" height="440">
          {{- end }}
          </div>
          <div class="col-md-6">
            <div class="block">
              <h1>{{ .title }}</h1>
              <h2>{{ .subtitle | markdownify }}</h2>
              <p class="header-text">{{ .text | markdownify }}</p>
            {{- range .buttons }}
            <a class="btn btn-{{ .class }}" href="{{ .link }}" role="button">{{ .text }}</a>
            {{- end }}
            </div>
          </div>
        </div><!-- .row close -->
      </div><!-- .container close -->
    </section><!-- header close -->
    {{- end }}

