    {{- with .Site.Params.testimonials }}
    <section class="testimonials section" id="testimonials">
      <div class="container">
        <div class="row">
          <div class="heading">
            <h2>{{ .title }}</h2>
          </div>
          {{- range first 3 .blocks }}
          <div class="col-md-4 text-center">
            <div class="testimonial-block">
              <i class="tf-ion-quote"></i>
              {{ with .text }}<p>{{ . | markdownify }}</p>{{ end }}
              <div class="author-details">
                {{ with .image }}<img src="{{ . }}" alt="">{{ end }}
                <h4>{{ .name }}</h4>
                {{ with .position }}<span>{{ . }}</span>{{ end }}
              </div>
            </div>
          </div>
          {{- end }}
        </div>
        <div class="row mt-100">
        {{- with .button }}
          <div class="col-md-12 text-center">
            <a href="{{ .link }}" class="btn btn-main">{{ .text }}</a>
          </div>
        {{- end }}
        </div>
      </div>
    </section>
    {{ end }}
