{{- $cssUrl := printf "/css/%s" (index .Site.Data.assetHashes "style.css") | absURL }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    <link rel="shortcut icon" href="{{ "/favicon.ico" | absURL }}">
    <link rel="stylesheet" href="{{ $cssUrl }}">
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <div class="column is-half">
              <img class="logo" src="{{ "/img/sevendbs.jpg" | absURL }}" width="400">
            </div>
            <div class="column is-half">
              <h1 class="title is-size-1">
                Seven Databases
              </h1>
              <h3 class="title is-size-3">
                in
              </h3>
              <h1 class="title is-size-1 is-spaced">
                Seven Weeks
              </h1>
              <h3 class="subtitle is-size-3 is-size-4-mobile db-subtitle">
                A Guide to Modern Databases and the NoSQL Movement
              </h3>
              <div class="buttons is-centered">
                <a class="button is-rounded is-large is-warning" href="https://www.amazon.com/Seven-Databases-Weeks-Modern-Movement/dp/1680502530">Amazon</a>
                <a class="button is-rounded is-large is-info" href="https://pragprog.com/book/pwrdata/seven-databases-in-seven-weeks-second-edition">PragProg</a>
                <a class="button is-rounded is-large is-danger" href="http://www.powells.com/book/-9781680502534">Powell's</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container  has-text-centered">
        <h2 class="title is-size-2">
          Testimonials
        </h2>
        <div class="columns">
          <div class="column is-one-third">
            <p class="testimonial is-italic">
              Look, if you're building a new app or company, getting the database right is a big deal. Moving data stores is a hassle that many people take too lightly only to learn the hard way that they should have been more thorough. Knowing what to avoid, what mistakes people make, the problem set that these items are suited to and what they aren't suited to, all the while making sure you know what is there for you now, makes this book another winner every bit as good as the last edition, if not better. Even if you're just reading to keep up to date, this book is one I think pretty much anyone should have.
            </p>
            <span class="is-size-5 has-text-weight-bold">
              William Ryan
            </span>
            <br />
            <span class="is-size-6">
              Amazon reviewer
            </span>
          </div>
          <div class="column is-one-third">
            <p class="testimonial is-italic">
              Choosing a database is perhaps one of the most important architectural decisions a developer can make. Seven Databases in Seven Weeks provides a fantastic tour of different technologies and makes it easy to add each to your engineering toolbox.
            </p>
            <span class="is-size-5 has-text-weight-bold">
              Dave Parfitt
            </span>
            <br />
            <span class="is-size-6">
              Senior Site Reliability Engineer, Mozilla
            </span>
          </div>
          <div class="column is-one-third">
            <p class="testimonial is-italic">
              Not sure which database you need? This book gives you an awesome primer on each one that includes getting setup, differentiating features, and some hands on examples. I highly recommend this to anyone that wants a primer on the various databases that are out there.
            </p>
            <span class="is-size-5 has-text-weight-bold">
              Nick Capito
            </span>
            <br />
            <span class="is-size-6">
              Amazon reviewer
            </span>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
