{{- $cssUrl := printf "/css/%s" (index .Site.Data.assetHashes "style.css") | absURL }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:description" content="Seven Databases in Seven Weeks: A Guide to Modern Databases and the NoSQL Movement">
    <meta property="og:image" content="{{ "/img/sevendbs.jpg" | absURL }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@lucperkins">
    <meta name="twitter:description" content="Seven Databases in Seven Weeks: A Guide to Modern Databases and the NoSQL Movement">
    <meta name="twitter:image" content="{{ "/img/sevendbs.jpg" | absURL }}">

    <link rel="shortcut icon" href="{{ "/favicon.ico" | absURL }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ $cssUrl }}">
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <div class="column is-half">
              <img class="logo" src="{{ "/img/sevendbs.jpg" | absURL }}">
            </div>
            <div class="column is-half">
              <h1 class="is-size-1 is-size-2-mobile">
                Seven Databases
              </h1>
              <h3 class="is-size-3 is-size-4-mobile has-text-weight-bold">
                in
              </h3>
              <h1 class="is-size-1 is-size-2-mobile is-spaced">
                Seven Weeks
              </h1>
              <hr />
              <h3 class="subtitle is-size-3 is-size-4-mobile db-subtitle">
                A Guide to Modern Databases and the NoSQL Movement
              </h3>
              <p class="is-size-5">
                By <a href="https://github.com/lucperkins" class="has-text-weight-bold" target="_blank">Luc Perkins</a>, <a href="https://github.com/coderoshi" class="has-text-weight-bold" target="_blank">Eric Redmond</a>, and <a href="https://github.com/jimbojw" class="has-text-weight-bold" target="_blank">Jim Wilson</a>
              </p>
              <hr />
              <div class="buttons is-centered">
                <a class="button is-rounded is-medium is-warning" target="_blank" href="https://www.amazon.com/Seven-Databases-Weeks-Modern-Movement/dp/1680502530">
                  <span class="icon is-medium">
                    <i class="fab fa-amazon fa-align-left"></i>
                  </span>
                  <span>Amazon</span>
                </a>
                <a class="button is-rounded is-medium is-info" target="_blank" href="https://pragprog.com/book/pwrdata/seven-databases-in-seven-weeks-second-edition">
                  <span class="icon is-medium">
                    <i class="fas fa-book-open fa-align-left"></i>
                  </span>
                  <span>PragProg</span>
                </a>
                <a class="button is-rounded is-medium is-danger" target="_blank" href="http://www.powells.com/book/-9781680502534">
                  <span class="icon is-medium">
                    <i class="fas fa-book fa-align-left"></i>
                  </span>
                  <span>Powell's</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section testimonials has-background-info">
      <div class="container has-text-centered">
        <h2 class="title testimonial-title is-size-1 is-size-2-mobile has-text-white">
          Testimonials
        </h2>
        <div class="columns">
          <div class="column is-one-third">
            <p class="testimonial is-italic has-text-white-ter">
              Look, if you're building a new app or company, getting the database right is a big deal. Moving data stores is a hassle that many people take too lightly only to learn the hard way that they should have been more thorough. Knowing what to avoid, what mistakes people make, the problem set that these items are suited to and what they aren't suited to, all the while making sure you know what is there for you now, makes this book another winner every bit as good as the last edition, if not better. Even if you're just reading to keep up to date, this book is one I think pretty much anyone should have.
            </p>
            <span class="is-size-5 has-text-weight-bold">
              William Ryan
            </span>
            <br />
            <span class="is-size-6">
              Amazon reviewer
            </span>
          </div>
          <div class="column is-one-third">
            <p class="testimonial is-italic has-text-white-ter">
              Choosing a database is perhaps one of the most important architectural decisions a developer can make. Seven Databases in Seven Weeks provides a fantastic tour of different technologies and makes it easy to add each to your engineering toolbox.
            </p>
            <span class="is-size-5 has-text-weight-bold">
              Dave Parfitt
            </span>
            <br />
            <span class="is-size-6">
              Senior Site Reliability Engineer, Mozilla
            </span>
          </div>
          <div class="column is-one-third">
            <p class="testimonial is-italic has-text-white-ter">
              Not sure which database you need? This book gives you an awesome primer on each one that includes getting setup, differentiating features, and some hands on examples. I highly recommend this to anyone that wants a primer on the various databases that are out there.
            </p>
            <span class="is-size-5 has-text-weight-bold">
              Nick Capito
            </span>
            <br />
            <span class="is-size-6">
              Amazon reviewer
            </span>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p class="is-size-5">
          This page was created by <strong>Seven Databases in Seven Weeks</strong> co-author Luc Perkins (<a href="https://github.com/lucperkins">GitHub</a>, <a href="https://twitter.com/lucperkins">Twitter</a>).
        </p>

        <br /><br />

        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-one-third has-text-centered">
              <a href="https://bulma.io">
                <img src="https://bulma.io/images/made-with-bulma--dark.png" alt="Made with Bulma" width="256" height="48">
              </a>
            </div>
            <div class="column is-one-third has-text-centered">
              <a href="https://www.netlify.com">
                <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg"/>
              </a>
            </div>
            <div class="column is-one-third has-text-centered">
              <a href="https://gohugo.io">
                <img src="{{ "/img/powered-by-hugo.svg" | absURL }}" width="160">
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
